---
import Principal from "@components/sections/home/Principal.astro";
import MenuNav from "../components/common/MenuNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <MenuNav />
    <Principal />
  </main>
</Layout>
