---
import Principal from "@components/sections/home/Principal.astro";
import MenuNav from "../components/common/MenuNav.astro";
import Layout from "../layouts/Layout.astro";
import SecondSection from "@components/sections/home/SecondSection.astro";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <MenuNav />
    <Principal />
    <SecondSection />
  </main>
</Layout>
