---
interface Props {
  title: string;
  description: string;
  price: number;
}
const { title, description, price } = Astro.props;
import { formatPriceCLP } from "@utils/formats";
import { Image } from "astro:assets";
import GalletaNavidad from "@assets/img/foods/galleta_navidad.webp";
---

<article class="rounded-xl bg-white p-3 shadow-xl shadow-[#d7746666]">
  <div class="header">
    <a href="/galletas">
      <Image
        class="rounded-xl saturate-[0.7] transition-all hover:scale-[1.02] hover:saturate-100 duration-800"
        src={GalletaNavidad}
        alt="Flecha hacia abajo"
      />
    </a>
  </div>
  <div class="body mt-4">
    <a href="/galletas">
      <h3
        class="text-md text-[#646477] font-bold mb-3 transition-colors hover:text-[#D77466] duration-300 min-h-[42px]"
      >
        {title}
      </h3>
    </a>
    <p class="text-xs text-[#646477] text-pretty min-h-[90px]">
      {description}
    </p>
    <p class="text-[#262C57] font-bold text-xl mt-4">
      {formatPriceCLP(price)}
    </p>
  </div>
  <div class="footer mt-3 flex flex-row justify-between items-center gap-2">
    <div class="border-[1px] border-[#D77466] flex flex-row w-fit rounded-md">
      <span class="text-[#D77466] font-bold text-lg px-3 py-1">1</span>
      <div
        class="flex flex-col border-l-[1px] border-[#D77466] px-2 items-center justify-center"
      >
        <button class="text-[#D77466] leading-[13px]">+</button>
        <button class="text-[#D77466] leading-[13px]">-</button>
      </div>
    </div>
    <div class="w-full h-full">
      <button
        class="text-center w-full h-[40px] rounded-md bg-[#D77466] text-white text-sm transition-all hover:bg-[#275C73] duration-300"
        >Agregar</button
      >
    </div>
  </div>
</article>
