---
interface Props {
  url?: string;
  text?: string;
}

const { url, text } = Astro.props;

import BellIcon from "@/assets/icons/bell-filled.astro";
---

<a
  href={url}
  class="flex flex-row items-center justify-center gap-2 rounded-full bg-[#D77466] px-6 py-2 text-xs text-white transition-all duration-300 hover:bg-[#275C73]"
  aria-label="Ir a la sección de pedidos"
>
  <BellIcon className="size-4" />
  <span class="hidden md:block">{text}</span>
</a>
