---
import AccountIcon from "@assets/icons/account.svg";
import ShopIcon from "@assets/icons/bag.svg";
---

<div class="flex items-center gap-[1px]">
  <a
    href="/login"
    class="bg-primary text-white flex items-center px-[14px] py-[6px] rounded-l-full text-[12px] gap-2 font-medium hover:bg-secondary transition-all duration-500 h-[30px]"
  >
    <img src={AccountIcon.src} alt="Icono de cuenta" class="size-[16px]" />
    <span class="hidden lg:block">Mi cuenta</span>
  </a>
  <button
    class="group bg-primary py-[6px] px-3 rounded-r-full hover:bg-secondary transition-all duration-500 h-[30px] relative"
  >
    <img
      src={ShopIcon.src}
      alt="Icono de shop para ver el carrito"
      class="size-[17px]"
    />
    <span
      class="absolute -top-1 -right-1 bg-secondary text-white rounded-full w-[15px] h-[15px] flex items-center justify-center text-[10px] transition-all duration-500 group-hover:bg-primary"
    >
      2
    </span>
  </button>
</div>
