---
import BellIcon from "@assets/icons/bell.svg";
---

<a
  href="/shop"
  aria-label="Boton de pedir comida que te lleva a la sección de todos los productos"
  class="bg-secondary flex items-center rounded-full text-[12px] px-[7px] lg:px-[32px] gap-2 py-[6px] font-medium hover:bg-primary transition-all duration-500 text-white"
>
  <img
    src={BellIcon.src}
    alt="Icono de campana para el boton pedir comida"
    class="size-[16px]"
  />
  <span class="hidden lg:block">Pedir comida</span>
</a>
