---
import Navbar from "@components/common/Navbar.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <Navbar />
  <main>
    <h1>Congelados</h1>
  </main>
</Layout>
