---
import { Image } from "astro:assets";
import PrincipalImage from "@assets/img/principal-image.webp";
---

<section
  id="firstSection"
  class="mb-20 flex w-full flex-row items-center justify-between pb-48"
>
  <div class="w-full px-5 md:pl-20 md:pr-20 lg:w-1/2 xl:pl-48 xl:pr-0">
    <h1
      class="mb-2 flex flex-col text-4xl font-extrabold text-[#262C57] md:text-5xl"
    >
      Comida congelada <span class="text-[#D77466]">a domicilio</span>
    </h1>
    <div class="relative flex flex-row items-end justify-stretch">
      <p class="w-auto text-lg text-[#262C57]">
        Platos de primera, cocinados de manera artesanal con productos
        seleccionados, <strong class="text-[#D77466]"
          >sin aditivos ni conservantes</strong
        >. Recibe nuestra comida directamente en tu casa. <strong
          class="iconEmote relative">¡Garantía de calidad!</strong
        >
      </p>
    </div>
    <div class="mt-10 flex flex-row gap-4 font-bold">
      <a
        href="/shop"
        class="text-md w-full rounded-full bg-[#D77466] px-8 py-3 text-center text-white transition-all duration-300 hover:bg-[#275C73] md:px-16 md:text-lg"
      >
        Hacer pedido
      </a>
      <a
        href="/#pensamos"
        class="text-md w-full rounded-full border-2 border-[#D77466] px-8 py-3 text-center text-[#D77466] transition-all duration-300 hover:border-[#275C73] md:px-16 md:text-lg"
      >
        Saber más
      </a>
    </div>
  </div>
  <div class="hidden lg:block">
    <Image
      src={PrincipalImage}
      alt="Imagen principal decorativa"
      quality="low"
    />
  </div>
</section>
<style>
  .iconEmote::after {
    position: absolute;
    display: block;
    content: url("/icons/emote-love.svg");
    color: #d77466;
    width: 20px;
    right: -30px;
    bottom: -4px;
  }
</style>
