---

---

<section id="slideCocina" class="relative px-5 py-10 md:px-20 xl:px-48">
  <div
    class="flex w-full flex-row items-center justify-between gap-4 rounded-md bg-[#275C73] p-10"
  >
    <div class="w-1/2">
      <h2 class="mb-10 text-4xl font-extrabold text-white md:text-5xl">
        Platos listos para disfrutar<span class="text-[#D77466]">
          cuando quieras</span
        >
      </h2>
      <p class="text-balance text-lg text-white">
        En Cheffify nos preocupamos por ti, ya sea que pidas comida <strong
          >para un día</strong
        >
        o para <strong>toda una semana</strong>. Nosotros hacemos el trabajo
        duro, tú solo cocina el fin de semana para tus amigos o para esa cena
        tan especial.
      </p>
      <div class="w-full">
        <a
          href="/shop"
          class="text-md mt-10 block w-full rounded-full bg-[#D77466] px-8 py-3 text-center font-bold text-white transition-all duration-300 hover:bg-[#275C73] md:px-16"
        >
          Hacer pedido
        </a>
      </div>
    </div>
    <div class="w-1/2">
      <p>Carousel</p>
    </div>
  </div>
</section>
