@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* CarouselHome.css */

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #f5d4c3 !important; /* Color de los puntos */
  opacity: 0.7;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #d77466 !important; /* Color del punto activo */
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  opacity: 1;
}
