---
import DeliveryButton from "@components/buttons/DeliveryButton.astro";
import BagButton from "@components/buttons/BagButton";
import { Image } from "astro:assets";
import Logo from "@assets/img/logo.svg";
import StarIcon from "@assets/icons/star-filled.svg";
import HeartIcon from "@assets/icons/heart-filled.svg";
import SnowFlakeIcon from "@assets/icons/snowflake.svg";
import UserIcon from "@assets/icons/user-filled.astro";
import BagPopUp from "./BagPopUp";

const MENU = [
  {
    name: "Servicios",
    url: "/#servicios",
    icon: StarIcon,
  },
  {
    name: "Somos lo que comemos",
    url: "/#somos",
    icon: HeartIcon,
  },
  {
    name: "Congelados",
    url: "/congelados",
    icon: SnowFlakeIcon,
  },
];
---

<nav
  class="flex w-full flex-row items-center justify-between bg-white px-5 py-10 md:px-20 xl:px-48"
>
  <div>
    <a href="/" aria-label="Ir a la página de inicio">
      <Image
        class="transition-all duration-500 hover:scale-105"
        src={Logo}
        alt="Logotipo de Cheffify, representando una marca de venta de comida congelada a domicilio."
      />
    </a>
  </div>
  <ul class="hidden flex-row items-center justify-between gap-10 lg:flex">
    {
      MENU.map(({ name, url, icon }) => (
        <li class="itemLink">
          <a
            class="flex flex-row items-center gap-2 text-sm text-[#262C57]"
            href={url}
          >
            <Image src={icon} alt="Icono" width={14} />
            {name}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="relative flex flex-row gap-2">
    <DeliveryButton url="/shop" text="Pedir comida" />
    <div class="flex flex-row items-center justify-center gap-px">
      <a
        class="flex flex-row items-center gap-2 rounded-l-full bg-[#262C57] px-3 py-2 text-xs text-white transition-all duration-300 hover:bg-[#275C73]"
        href="/login"
        aria-label="Ir a la sección de mi cuenta"
      >
        <UserIcon className="size-4" />
        <span class="hidden md:block">Mi Cuenta</span>
      </a>
      <BagButton client:load />
    </div>
    <BagPopUp client:load />
  </div>
</nav>
